.app-logo {
  height: 49px;
  width: 34px;
  padding: 1rem;
  margin-left: 5rem;
}
#offers{
  margin-bottom: 3px;
}
.app-logo:hover{
  transform: scale(0.9);
}
.container{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}
.navbar{
  margin-right: 5rem;
}
.navbar-list{
  display: flex;
  list-style-type: none;
}
.nav-item{
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
  padding: 0.25rem;
}
.nav-item:hover{
  color: #e57a10;
  cursor: pointer;
}
.nav-item svg{
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
.nav-item span {
  margin-top: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.nav-item span sup{
  color: orange;
}
.nav-item img{
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
.card-container{
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.res-card{
  font-family: "Roboto", sans-serif;
  width: 240px;
  padding: 5px;
  margin: 0rem 1rem;
}
.res-card:hover{
  border: 1px solid grey;
  cursor: pointer;
  transform: scale(0.9);
}
.restro-logo{
  height: 180px;
  width: 100%;
}
.res-params{
  display: grid;
  font-weight:bold;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-top: 2px;
}
.res-params svg{
  margin-top: -2px;
}
.restaurant-name{
  font-size: 18px;
  font-weight: bold;
}
.restaurant-details{
  font-size: 16px;
  font-weight: 300;
}