.app-logo {
  height: 49px;
  width: 34px;
  padding: 1rem;
  margin-left: 5rem;
}
#offers{
  margin-bottom: 3px;
}
.app-logo:hover{
  transform: scale(0.9);
}
.container{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}
.navbar{
  margin-right: 5rem;
}
.navbar-list{
  display: flex;
  list-style-type: none;
}
.nav-item{
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
  padding: 0.25rem;
}
.nav-item:hover{
  color: #e57a10;
  cursor: pointer;
}
.nav-item svg{
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
.nav-item span {
  margin-top: 0.2rem;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.nav-item span sup{
  color: orange;
}
.nav-item img{
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
.card-container{
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.res-card{
  font-family: "Roboto", sans-serif;
  width: 240px;
  padding: 5px;
  margin: 0rem 1rem;
}
.res-card:hover{
  cursor: pointer;
  transform: scale(0.9);
}
.restro-logo{
  height: 180px;
  width: 100%;
  border-radius: 10px;
}
.res-params{
  display: grid;
  font-weight:bold;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-top: 2px;
}
.res-params svg{
  margin-top: -2px;
}
.res-params span{
  font-weight: 500;
  font-family: "Poppins";
}
.restaurant-name{
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins";
}
.restaurant-details{
  font-size: 16px;
  font-weight: 200;
  font-family: "Archivo";
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.shimmer-card {
  margin: 20px;
  width: 240px;
  height: 280px;
  background-color: #dadada;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  animation: shimmer 0.2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
  }
  .shimmer-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 75%);
    background-size: 200% 200%;
    animation: shimmer 0.5s infinite linear;
  }